@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";


.dropdown{
  position: relative;
}
.u-menu{
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 87px;
padding: 5px 0;
margin: 2px 0 0;
list-style: none;
font-size: 14px;
text-align: left;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,.15);
border-radius: 4px;
box-shadow: 0 6px 12px rgba(0,0,0,.175);
background-clip: padding-box;
  &.dropup{
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
 .u-menu-item {
    &>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    &:hover{

    }
  }
    &.active{
      &>a {
        color: #fff;
        text-decoration: none;
        outline: 0;
        background-color: #b3d4fc;
      }
    }
    &:hover {
      background-color: $default-item-hover-bg-color;
    }

    &:focus {
      outline: none;
      background-color: $default-item-focus-bg-color;
    }

    &:active {
      background-color: $default-item-active-bg-color;
    }
    &[disabled], &[data-u-disabled] {
      color: $disabled-item-text-color;
      background-color: transparent;
      cursor: auto;
      &:hover {
        background-color: transparent;
      }

      &:focus {
        background-color: transparent;
      }

      & .mdl-ripple {
        background: transparent;
      }
    }
 }


 .u-menu-item-break {
   margin: 6px 0;
   height: 1px;
   overflow: hidden;
   background-color: #e0e0e0;
 }

 .disabled {
   background-color: transparent;
   text-decoration: none;
   cursor: not-allowed;
   color: #bdbdbd;
   &:hover {
     background-color: transparent;
     text-decoration: none;
     cursor: not-allowed;
     color: #bdbdbd;
   }
   > a:hover {
     text-decoration: none;
     cursor: not-allowed;
     background-color: transparent;
     background-image: none;
     filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
     color: #bdbdbd;
   }
 }
}
.show{
  display: block;
}

// 不同色彩的下拉按钮

.u-menu-primary {
  @include menu-styles-variant($menu-primary-bg,$menu-primary-bg-hover);
}

// Modifier: `menu-success`
// -------------------------

.u-menu-success {
  @include menu-styles-variant($menu-success-bg,$menu-success-bg-hover);
}

// Modifier: `menu-info`
// -------------------------

.u-menu-info {
  @include menu-styles-variant($menu-info-bg,$menu-info-bg-hover);
}

// Modifier: `menu-warning`
// -------------------------

.u-menu-warning {
  @include menu-styles-variant($menu-warning-bg,$menu-warning-bg-hover);
}

// Modifier: `menu-danger`
// -------------------------

.u-menu-danger {
  @include menu-styles-variant($menu-danger-bg,$menu-danger-bg-hover);
}

// Modifier: `menu-dark`
// -------------------------

.u-menu-dark {
  @include menu-styles-variant($menu-dark-bg,$menu-dark-bg-hover);
}

.u-menu-info > .active {
  > a {
    color: #fff;
  }
  background: #00bcd4;
}

.u-menu-success > .active {
  background: #66bb6a;
  background: #66bb6a;
}

.u-menu-danger > .active {
  background: #ef5350;
}

.u-menu-warning > .active {
  background: #ffa726;
}
